html, body {
	background: #EEE;
	font: 12px sans-serif;
	font-family: "Helvetica";
}

#allGreenCycles{
	background-color:red;
	width:20%;
	height: 100%;
	float:left;
}

#individualCycleDisplay{
	width:80%;
	height: 100%;
	background-color:blue;
		float:right;
}


#ASTDiff{
	width:20%;
	float:left;
}

#phaseDisplayArea{

}

#previousCode{

}

    #editor { 
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    table {
	table-layout: fixed;
	width: 100%;
}
td {
	width: 33%;
	padding: 3px 4px;
	border: 1px solid transparent;
	vertical-align: top;
	font: 1em monospace;
	text-align: left;
	white-space: pre-wrap;
}

    .ace_editor { 
/*        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
        position: relative;
        width:100%;
        height:375px;
        margin-top: 0px;
    }

#phaseUnit{
	width:98%;
	opacity: 1;
	height:500px;
	border: 2px solid;
    border-radius: 10px;
    margin-left:10px;
}

#kataName{
	width:100%;
	float:left;
	font-size: 40px;
	text-align: center;
}

.codeTitle{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:white;
}

#finalCode{
	
}

#diffIncode{
overflow: scroll;
}

#ASTDiff{

}

.ACEPanel{
	float: left;
	width: 25%;
	overflow: scroll;
	height:400px;
}

#result{
	 background-color:  #EEE;
	 overflow: scroll;
}




.red{
	/*AF292E*/
background-color:rgba(175, 41, 46, 0.2);
border: 2px solid;
border-radius: 4px;
}
.green{
/*background-color:#4e7300;*/
background-color:rgba(78, 115, 0, 0.2);
border: 2px solid;
border-radius: 4px;
}
.blue{
/*background-color:#385e86;*/
background-color:rgba(56, 94, 134, 0.2);
border: 2px solid;
border-radius: 4px;
}

#fileRow{
	padding-left:10px;
	border-top: 1px solid;
}

.redPhase{
background-color:#AF292E;
}
.greenPhase{
background-color:#4e7300;
}
.bluePhase{
background-color:#385e86;
}











